ASPNETCORE_ENVIRONMENT=Development
SQLSERVER_SA_PASSWORD=Change_this_password_123!
JWT_ISSUER=portal-corporativo
JWT_AUDIENCE=portal-corporativo-clients
JWT_SECRET=CHANGE_ME_USE_DOCKER_SECRET_OR_KEYVAULT
REDIS_PASSWORD=CHANGE_ME
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=Change_this_minio_password
KAFKA_ENABLED=false
MESSAGE_TRANSPORT=SqlOutbox
